.main-content {
  margin: 0;
  max-width: none;
  padding-left: 0;
  padding-right: 0;
}

.focus-content-padding {
  padding-top: 14px;
}


.focus-content.doc {
  margin-top: 13px;
  ;
  display: grid;
  grid-template-columns: 1fr;
  align-items: start;
}

.left-content {
  margin-right: 8px;
}

.page-header {
  display: flex;
  align-content: center;
  border: 1px solid rgb(255, 255, 255, 0.2);
  border-radius: 4px;
  background-color: rgba(18, 18, 19, 0.85);
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.page-header h1 {
  margin: 10px 20px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
}


.post-list {
  display: grid;
  position: relative;
  margin-top: 15px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.4);
  background-color: rgba(18, 18, 19, 0.97);
}

.doc-display {
  display: flex;
  padding: 20px;
}

.doc-content {
  width: 100%;
  padding: 5px;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 1px 1px 1px rgba(140, 193, 184, 0.4);
  font-size: 20px;
  font-weight: 300;
  line-height: 1.8;
}

.doc-display img {
  max-width: 30%;
  border-radius: 5px;
}

.resource-link {
  color: rgb(6, 124, 163);
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
  cursor: pointer;
}