.main-content {
  margin: 0;
  max-width: none;
  padding-left: 0;
  padding-right: 0;
}

.focus-content-padding {
  padding-top: 20px;
}

.pre-nav-bar {
  background: rgba(136, 190, 235, 0.264);
  position: relative;
  border-radius: 8px;
  box-shadow: inset rgba(0, 0, 0, 0.4) 0px 1px 10px, rgba(255, 255, 255, 0.3) 0px 0px 0px 1px, rgba(255, 255, 255, 0.1) 0px 1px 15px;
  padding: 8px;
  backdrop-filter: blur(10px);
}

.pre-nav-left {
  list-style: none;
  display: flex;
  align-content: center;
  padding: 0px 5px;
  margin: 0px 5px;
}

.home-link {
  background: rgba(255, 255, 255, 0);
  border: none;
  color: rgb(255, 255, 255, 0.9);
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  transition: 0.3s;
}

.home-link:hover {
  box-shadow: none;
  text-shadow: 0 0 5px white;
}

.focus-content {
  margin-top: 13px;
  ;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.left-content {
  margin-right: 8px;
}

.page-header {
  display: flex;
  align-content: center;

  border: 1px solid rgb(255, 255, 255, 0.2);
  border-radius: 4px;
  background: rgba(103, 211, 228, 0.243);
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.header-text {
  margin: 10px 20px;
}


.post-list {
  display: grid;
  position: relative;
  margin-top: 15px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  background: rgba(103, 211, 228, 0.243);
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.4);
  background-color: rgba(18, 18, 19, 0.85);
  backdrop-filter: blur(15px) saturate(130%);
}

.post-top-header {
  margin: 5px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 6px;
}

.post-top-header h2 {
  margin: 15px 12px;
}


.post-row {
  display: grid;
  grid-template-columns: 40px minmax(0, 3fr) minmax(0, 1fr);
  align-items: center;
  justify-items: left;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 16px 12px;

}

.row-icon {
  justify-self: center;
}

.row-info {}

.row-info h3 {
  margin: 0 0;
  font-size: 15px;
  color: rgb(216, 234, 241);
}

.row-info p {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.5);
}

.row-stats {
  display: grid;
  grid-template-columns: 1fr 5fr;
  align-items: center;
}

.stats-details {
  padding: 5px;
  min-width: 0;
}

.stats-details h4 {
  margin: 0;
  justify-self: left;
  font-weight: 100;
  font-size: 13px;
  color: rgb(216, 234, 241);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.stats-details h5 {
  margin: 0;
  font-weight: 100;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.5);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.row-stats img {
  width: 36px;
  height: 36px;
  border-radius: 5px;
}

.right-content {
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  background: rgba(103, 211, 228, 0.243);
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
}

.right-content h1 {
  font-size: 15px;
  align-self: center;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 4px;
  margin: 5px;
  padding: 14px 15px;
}

.recent-post-list {
  display: grid;

}

.recent-row-post {
  display: grid;
  grid-template-columns: 50px auto;
  padding: 0 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.recent-post-avatar {
  padding-top: 15px;
  padding-left: 10px;
}

.recent-row-post img {
  width: 34px;
  height: 34px;
  border-radius: 6px;
}

.recent-post-details {
  padding: 16px 12px;

}

.recent-post-details h3 {
  margin: 0 0;
  color: rgb(216, 234, 241);
  font-size: 16px;
}

.recent-post-details h4 {
  margin: 0 0;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 300;
  line-height: 1.7;
}

.recent-post-details h5 {
  margin-top: 3px;
  margin-bottom: 0;
  font-size: 11px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 500;
}